/* =========================== Registration css file ================== */
p {
  margin-left: 10px;
  color: black;
  margin-top: 20px;
  display: inline;
}

h1 {
  margin-left: 10px;
  color: black;
  margin-top: 20px;
}
main {
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-image: ;
}
footer {
  margin-top: 700px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-image: 	#36454f;
}
body {
  background-color: #36454f;;
}

main {
  max-width: 100%;
  height: 20px;
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 200px;
}
