/* ================================ Index css file ========================================= */
p {
  margin-left: 10px;
  color: black;
  margin-top: 20px;

  display: inline;
  color: white;
}

h1 {
  margin-left: 10px;
  color: black;
  margin-top: 20px;
  color: white;
}
main {
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #36454f;
  color: white;
}
footer {
  margin-top: 30px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-image: #36454f;
  color: white;
}
body {
  background-color: #36454f;
  color: white;
}
.image-home {
  background-image: url("../Images/back.jpg");
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: relative;
  height: 95vh;
}
