/* ================================ Index css file ========================================= */
p {
  margin-left: 10px;
  color: black;
  margin-top: 20px;
  display: inline;
}

h1 {
  margin-left: 10px;
  color: black;
  margin-top: 20px;
}
main {
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #36454f;
}
footer {
  margin-top: 30px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  background-image: #36454f;
}
body {
  background-color: #36454f;
}
